# Virtual environment
venv/
env/
.venv/
.venv
**/.venv

# Python
__pycache__/
*.py[cod]
**/*.pb.py
**/*_pb2.py
**/*_pb2_grpc.py
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/workspace.xml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

datecommit.sh
scripts/gitcommit.sh
design prompt.txt

# java
**/target/
**/.mvn/
**/.mvn
**/mvnw

# logs
**/*.log

# misc
.idea.bak/
.idea.bak2/
.idea.save.good
**/mvnw
foo
